EXPO_PUBLIC_FLOCKTRAX_ENVIRONMENT_NAME=development
EXPO_PUBLIC_FLOCKTRAX_PRODUCTION_SUPABASE_PROJECT_REF=frneaccbbrijpolcesjm
EXPO_PUBLIC_API_BASE_URL=https://frneaccbbrijpolcesjm.supabase.co/functions/v1
EXPO_PUBLIC_SUPABASE_URL=https://frneaccbbrijpolcesjm.supabase.co
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_PASSWORD_RESET_REDIRECT_URL=
