NEXT_PUBLIC_SUPABASE_URL=https://frneaccbbrijpolcesjm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZybmVhY2NiYnJpanBvbGNlc2ptIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDg1NjcxMjksImV4cCI6MjA2NDE0MzEyOX0.EH6M6rIAVlYxIKgS8CMBGA0In4GlqGMaOFKgY9aCnho
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZybmVhY2NiYnJpanBvbGNlc2ptIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0ODU2NzEyOSwiZXhwIjoyMDY0MTQzMTI5fQ.BlBjbfl4KmDp5_U5MM2ZvtGgVHP1xx87Xximl7cVX3w
NEXT_PUBLIC_APP_URL=https://your-admin-app.example.com
